{
 "__fileName__": "base/meta/Particle/ENV_VFX_MephistoLightning_core_distant.prt",
 "__snoID__": 2466063,
 "__type__": "ParticleDefinition",
 "__typeHash__": 2145577021,
 "eType": 0,
 "dwFlags": 1058088,
 "dwFlagsEx": 503324928,
 "dwFlagsEx2": 0,
 "tSystemDuration": 1,
 "tOutroDuration": 0.5,
 "tPrepumpDuration": 0,
 "eRenderDistance": 3,
 "eUVFlippingMode": 5,
 "tSystemDurationScalar": {
  "__type__": "InterpolationScalar",
  "__typeHash__": 991799518,
  "nScalarFunction": 0,
  "dwFlags": 1,
  "tInputRange": {
   "rangeValue1": 0,
   "rangeValue2": 1
  },
  "tRemapRange": {
   "rangeValue1": 0,
   "rangeValue2": 1
  },
  "eRemapEasing": 0,
  "szFormulaName": 0
 },
 "pathSystemScale": [
  {
   "__type__": "InterpolationPath_float",
   "__typeHash__": 3422409450,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 8
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 1,
     "tValueMax": 1.25,
     "tTime": 0
    }
   ]
  }
 ],
 "pathSystemCount": [
  {
   "__type__": "InterpolationPath_int32",
   "__typeHash__": 3426042948,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 12
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_int32",
     "__typeHash__": 2011319229,
     "tValueMin": 0,
     "tValueMax": 0,
     "tTime": 0
    }
   ]
  }
 ],
 "pathSystemBurst": [
  {
   "__type__": "InterpolationPath_int32",
   "__typeHash__": 3426042948,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 12
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_int32",
     "__typeHash__": 2011319229,
     "tValueMin": 1,
     "tValueMax": 1,
     "tTime": 0
    }
   ]
  }
 ],
 "pathSystemAlpha": [
  {
   "__type__": "InterpolationPath_float",
   "__typeHash__": 3422409450,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 12
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 1,
     "tValueMax": 1,
     "tTime": 0
    }
   ]
  }
 ],
 "pathSystemAlphaAux": [
  {
   "__type__": "InterpolationPath_float",
   "__typeHash__": 3422409450,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 4
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.06073028966784477,
     "tValueMax": 0.06073028966784477,
     "tTime": 0.002624011831358075
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.13338333368301392,
     "tValueMax": 0.13338333368301392,
     "tTime": 0.004656358156353235
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.2152853012084961,
     "tValueMax": 0.2152853012084961,
     "tTime": 0.006365147884935141
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.30376243591308594,
     "tValueMax": 0.30376243591308594,
     "tTime": 0.008018490858376026
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.3961408734321594,
     "tValueMax": 0.3961408734321594,
     "tTime": 0.009884496219456196
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.48974695801734924,
     "tValueMax": 0.48974695801734924,
     "tTime": 0.01223127543926239
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.5819066762924194,
     "tValueMax": 0.5819066762924194,
     "tTime": 0.015326932072639465
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.6699464917182922,
     "tValueMax": 0.6699464917182922,
     "tTime": 0.019439585506916046
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.7511923909187317,
     "tValueMax": 0.7511923909187317,
     "tTime": 0.02483733743429184
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.822970449924469,
     "tValueMax": 0.822970449924469,
     "tTime": 0.03178829327225685
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.8826072812080383,
     "tValueMax": 0.8826072812080383,
     "tTime": 0.04056058079004288
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9274287819862366,
     "tValueMax": 0.9274287819862366,
     "tTime": 0.05142229050397873
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9547612071037292,
     "tValueMax": 0.9547612071037292,
     "tTime": 0.06464153528213501
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9619308710098267,
     "tValueMax": 0.9619308710098267,
     "tTime": 0.08048641681671143
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9563387036323547,
     "tValueMax": 0.9563387036323547,
     "tTime": 0.15502259135246277
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9516395330429077,
     "tValueMax": 0.9516395330429077,
     "tTime": 0.22819222509860992
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9479086995124817,
     "tValueMax": 0.9479086995124817,
     "tTime": 0.3003302216529846
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9452211856842041,
     "tValueMax": 0.9452211856842041,
     "tTime": 0.37177151441574097
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9436521530151367,
     "tValueMax": 0.9436521530151367,
     "tTime": 0.4428510069847107
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.943276584148407,
     "tValueMax": 0.943276584148407,
     "tTime": 0.5139037370681763
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9441697597503662,
     "tValueMax": 0.9441697597503662,
     "tTime": 0.5852643251419067
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9464066028594971,
     "tValueMax": 0.9464066028594971,
     "tTime": 0.6572681069374084
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9500623941421509,
     "tValueMax": 0.9500623941421509,
     "tTime": 0.7302497029304504
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9552121162414551,
     "tValueMax": 0.9552121162414551,
     "tTime": 0.8045441508293152
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9619308710098267,
     "tValueMax": 0.9619308710098267,
     "tTime": 0.8804863691329956
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9563895463943481,
     "tValueMax": 0.9563895463943481,
     "tTime": 0.8998070955276489
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.9302036166191101,
     "tValueMax": 0.9302036166191101,
     "tTime": 0.9166661500930786
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.8861046433448792,
     "tValueMax": 0.8861046433448792,
     "tTime": 0.9312642216682434
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.8268243670463562,
     "tValueMax": 0.8268243670463562,
     "tTime": 0.9438018798828125
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.7550944089889526,
     "tValueMax": 0.7550944089889526,
     "tTime": 0.954479992389679
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.673646092414856,
     "tValueMax": 0.673646092414856,
     "tTime": 0.9634989500045776
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.5852113962173462,
     "tValueMax": 0.5852113962173462,
     "tTime": 0.9710594415664673
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.4925217032432556,
     "tValueMax": 0.4925217032432556,
     "tTime": 0.9773620367050171
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.3983086049556732,
     "tValueMax": 0.3983086049556732,
     "tTime": 0.9826075434684753
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.30530399084091187,
     "tValueMax": 0.30530399084091187,
     "tTime": 0.9869965314865112
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.2162390798330307,
     "tValueMax": 0.2162390798330307,
     "tTime": 0.9907296299934387
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.13384568691253662,
     "tValueMax": 0.13384568691253662,
     "tTime": 0.9940074682235718
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.06085560843348503,
     "tValueMax": 0.06085560843348503,
     "tTime": 0.9970307350158691
    },
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0,
     "tValueMax": 0,
     "tTime": 1
    }
   ]
  }
 ],
 "pathParticleDuration": [
  {
   "__type__": "InterpolationPath_float",
   "__typeHash__": 3422409450,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 8
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 0.4399999976158142,
     "tValueMax": 0.4599999785423279,
     "tTime": 0
    }
   ]
  }
 ],
 "pathInitialScale": [],
 "pathInitialSourceRelativeSpread": [],
 "pathInitialSourceRelativeVelocity": [],
 "pathInitialWorldRelativeVelocity": [],
 "pathInitialAngularVelocity": [],
 "pathSystemSpawnRate": [],
 "pathSystemSpeedSpawnRate": [],
 "pathSystemSpeedDurationFactor": [],
 "pathSystemSpeedFraction": [],
 "pathNoiseFrequency": [],
 "pathNoiseSmoothness": [],
 "pathNoiseAmplitude": [],
 "pathNoiseAmplitudeRange": [],
 "pathCameraOffset": [],
 "snoMaterial": {
  "__raw__": 2466062,
  "__group__": 57,
  "__type__": "DT_SNO",
  "__typeHash__": 2764331143,
  "__targetFileName__": "base/meta/Material/ENV_VFX_MephistoLightning_core_distant.mat",
  "groupName": "Material",
  "name": "ENV_VFX_MephistoLightning_core_distant"
 },
 "snoHoudini": null,
 "snoAppearance": null,
 "snoPhysics": null,
 "snoSpawnOnCollision": null,
 "flNormalBias": 0,
 "unk_471cfa5": 0.20000000298023224,
 "flWindFactor": 1,
 "flExplosionFactor": 1,
 "flExplosionFriction": 0.10000000149011612,
 "flMass": 0.45399999618530273,
 "dwMaxSystems": 0,
 "flLowFXMultiplier": 1,
 "flClutterZOffset": 0,
 "snoActor": null,
 "tLookLink": {
  "__type__": "LookLink",
  "__typeHash__": 2394153027,
  "dwLookHash": 0
 },
 "dwShaderMapOverride": 4294967295,
 "qSSOrientationOffset": {
  "__type__": "bcQuat",
  "__typeHash__": 3955716320,
  "x": 0,
  "y": 0,
  "z": 0,
  "w": 1
 },
 "ptEmitter": [
  {
   "__type__": "EmitterPointData",
   "__typeHash__": 532046846,
   "dwType": 532046846
  }
 ],
 "pathParticleColor": [],
 "pathParticleColorIntensity": [
  {
   "__type__": "InterpolationPath_float",
   "__typeHash__": 3422409450,
   "tHeader": {
    "__type__": "InterpolationPathHeader",
    "__typeHash__": 2520702334,
    "tLoopPointStart": 0,
    "tLoopPointEnd": 1,
    "nDistributionFunction": 0,
    "nMinMaxBehavior": 0,
    "arInterpScalar": [
     {
      "__type__": "InterpolationScalar",
      "__typeHash__": 991799518,
      "nScalarFunction": 0,
      "dwFlags": 1,
      "tInputRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "tRemapRange": {
       "rangeValue1": 0,
       "rangeValue2": 1
      },
      "eRemapEasing": 0,
      "szFormulaName": 0
     }
    ],
    "dwFlags": 12
   },
   "ptArrayNodes": [
    {
     "__type__": "InterpolationNode_float",
     "__typeHash__": 2007685731,
     "tValueMin": 2.5,
     "tValueMax": 2.5,
     "tTime": 0.23971377313137054
    }
   ]
  }
 ],
 "pathParticleAlpha": [],
 "pathParticleAlphaAux": [],
 "pathParticleDistortionFactor": [],
 "unk_68b6b45": [],
 "pathParticleScale": [],
 "unk_b92bb9a": [],
 "pathAngularPosition": [],
 "pathAngularVelocity": [],
 "pathOrientationVelocity": [],
 "pathOrientationVelocity2": [],
 "pathOrientationPosition": [],
 "pathOrientationPosition2": [],
 "pathOrientationAxis": [],
 "pathOrientationAxis2": [],
 "unk_a8c5217": [],
 "pathMotionCylinderRadialPos": [],
 "pathMotionCylinderRadialVel": [],
 "pathMotionCylinderAngleVel": [],
 "pathMotionCylinderAxis": [],
 "pathMotionSphereRadialPos": [],
 "pathMotionSphereRadialVel": [],
 "pathMotionWorldPos": [],
 "pathMotionWorldVel": [],
 "pathMotionWorldAcc": [],
 "pathMotionRelativeCartesianPos": [],
 "pathMotionRelativeCartesianVel": [],
 "pathMotionRelativeCartesianAcc": [],
 "pathMotionAttractorVel": [],
 "pathMotionAttractorPos": [],
 "pathMotionAttractorOri": [],
 "unk_afccc6": [],
 "unk_8dc0a2c": [],
 "nFacing": 1,
 "eAlignment": 0,
 "alignmentOffset": {
  "x": 0,
  "y": 0,
  "z": 0
 },
 "unk_3610d96": false,
 "unk_a70d91e": 0,
 "wdBoundingRadius": 10,
 "unk_a79a409": 0.5,
 "unk_daaa964": 0,
 "dwMinSize": 0,
 "dwMaxSize": 0,
 "flDistanceFromCamera": 15,
 "flNearSpawnRadius": 1,
 "unk_63d7722": 16,
 "snoVectorField": null,
 "vecVectorFieldDim": {
  "x": 1,
  "y": 1,
  "z": 1
 },
 "eVectorFieldAddressMode": 0,
 "flVectorFieldScrollSpeed": 0,
 "pathVectorFieldMagScale": [],
 "unk_cddc4fd": [],
 "pathVectorFieldRotation": [],
 "unk_da1d404": 0,
 "unk_5a7f188": 1
}
